.ChatPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: calc(100% - 2rem);
  width: calc(100% - 5rem);
  margin-left: 5rem;
  margin-top: 2rem;
  align-items: center;
  position: absolute;
}

.ChatContainer h2 {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.ChatInputContainer {
  position: absolute;
  bottom: 2rem;
  width: 50rem;
  min-height: 5rem;
  max-height: 12rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 2.5rem;   
  border: 1px solid #d0d0d0;
  transition: height 0.3s ease;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.5);
}

.ChatInputContainer.hasImagePreview {
  min-height: 10rem;
}

.ChatForm {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.ChatForm.hasImagePreview {
  height: calc(100% - 5rem);
}

.chat-input {
  position: relative;
  width: calc(100% - 10rem);
  align-content: center;
  align-self: flex-end;
  min-height: 4rem;
  max-height: 11rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #d0d0d0;
  caret-color: #d0d0d0;
  background-color: transparent;
  resize: none;
  transition: height 0.3s ease;
  font: arial;
}

.chat-input.hasImagePreview {
  max-height: 6rem;
}

.chat-input::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.chat-input::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input::-webkit-scrollbar-button {
  display: none;
}

.send-button {
  background-color: transparent;
  border: none;
  color: #d0d0d0;
  font-size: 1.5rem;
  height: 100%;
  width: 5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  cursor: pointer;
}

.send-button:hover {
  color: #ffffff;
}

.upload-button {
  background-color: transparent;
  align-content: center;
  border: none;
  color: #d0d0d0;
  font-size: 2rem;
  height: 100%;
  width: 5rem;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  cursor: pointer;
}

.upload-button:hover {
  color: #ffffff;
}

.ImagePreviewContainer {
  position: absolute;
  top: 0;
  left: calc(50% - 20rem);
  height: 5rem;
  width: 4rem;
  align-content: center;
}

.ImagePreviewContainer img {
  position: relative;
  max-width: 4rem; 
  max-height: 4rem;
  object-fit: contain;
  border-radius: 1rem;
}

.ChatHistoryContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow-y: auto;
  box-sizing: border-box;
  border: ipx solid red;
}

/* For Chrome, Edge, and Safari */
.ChatHistoryContainer::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.ChatHistoryContainer::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 4px;
}

.ChatHistoryContainer::-webkit-scrollbar-button {
  display: none;
}

.ChatBubble {
  display: flex;
  flex-direction: column;
  width: 50rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  
.UserMessage {
  background-color: #333;
  color: #d0d0d0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-right: 2.2rem;
  align-self: flex-end;
  max-width: 70%;
  word-wrap: break-word;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
}
  
.BotMessage {
  background-color: #555;
  color: #d0d0d0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-left: 2.2rem;
  align-self: flex-start;
  max-width: 70%;
  word-wrap: break-word;
  white-space: pre-line
}
 
.loading-dots span {
  animation: blink 1.5s infinite;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.UserImagePreview {
  max-width: 15rem;
  max-height: 15rem;
  object-fit: contain;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
